/* paroolimuutmise css */
*{
	color: #191919;

}

.navbar {
	width: 100%;
	overflow: auto;
	margin-bottom: 25px
}
.navbar a {
	float: right;
	text-align: center;
	padding: 26px;
	text-decoration: none;
	font-size: 18px;
}
.navbar a:hover {
	background-color: #E4C2C1;
	color: #191919;
	border-radius: 5px;
	transition: background-color 0.3s ease;

}

body {
 	/* background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png"); */
	background-size: auto;
	background-color: #FFEEEE;
	font-family: Arial, sans-serif;
	margin-right: 2px;
}

.form-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*height: 100vh;*/
  
}

.inner-form-container {
	width: 500px;
	padding: 20px;
	background-color: #e4c2c1;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
	text-align: center;
	/*font-size: 24px;*/
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
input[type="password"] {
	width: 90%;
	padding: 15px;
	border: none;
	border: 1px solid #4d3434;
	border-radius: 4px;
	background-color: #fef2f2;
	transition: border-color 0.3s ease;
	/*width: 90%;
	padding: 10px;
	border: 1px solid #837777;
	border-radius: 4px;*/
}

input[type="submit"] {
	background-color: #b6666F;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
}
input[type="text"]:focus,
input[type="password"]:focus {
	outline: none;
	border-bottom-color: #767cee;
}

input[type="submit"]:hover {
	background-color: #ce747e;
}

p.message {
	margin-top: 10px;
	padding: 10px;
	background-color: #f2dede;
	color: #a94442;
	border-radius: 4px;
}

.back-button {
	margin-top: 0;
}



